---
# tasks file for MySQL
- name: Create Secret with MySQL credentials
  community.kubernetes.k8s:
     definition:
        kind: Secret
        apiVersion: v1
        metadata:
          name: '{{meta.name}}'
          namespace: '{{meta.namespace}}'
        type: Opaque
        data:
         root-username: cm9vdA==
         root-password: YmJwbTE5OTg=
- name: Create ConfigMap for MySQL
  community.kubernetes.k8s:
     definition:
        kind: ConfigMap
        apiVersion: v1
        metadata:
          name: '{{meta.name}}'
          namespace: '{{meta.namespace}}'
        data:
         database: EmployeeDB
         host: mysql
- name: Create MySQL Service
  community.kubernetes.k8s:
     definition:
      apiVersion: v1
      kind: Service
      metadata:
       name: mysql
       namespace: '{{meta.namespace}}' 
       labels:
         app: mysql
         tier: database
      spec:
        ports:
         - port: 3306
           targetPort: 3306
        selector:       
          app: mysql
          tier: database  
        clusterIP: None
- name: Create Persistent Volume Claim
  community.kubernetes.k8s:
     definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: mysql-pv-claim
        namespace: '{{meta.namespace}}' 
        labels:
         app: mysql
         tier: database
      spec:
       accessModes:
        - ReadWriteOnce   
       resources:
        requests:
          storage: 1Gi
- name: Create MySQL Deployment
  community.kubernetes.k8s:
     definition:
       apiVersion: apps/v1
       kind: Deployment
       metadata:
         name: '{{meta.name}}'
         namespace: '{{meta.namespace}}'
         labels:
           app: mysql
           tier: database
       spec:
        selector: 
         matchLabels:
           app: mysql
           tier: database
        strategy:
          type: Recreate
        template:
         metadata:
          labels: 
            app: mysql
            tier: database
         spec:
           containers:
           - image: "docker.io/mysql:8.0" 
             name: mysql
             env:
             - name: MYSQL_ROOT_PASSWORD 
                valueFrom:
                 secretKeyRef:
                   name: '{{meta.name}}' 
                   key: root-password   
             - name: MYSQL_DATABASE
                valueFrom:
                  configMapKeyRef:
                    name: '{{meta.name}}'
                    key: database
             ports:
              - containerPort: 3306
                name: mysql
             volumeMounts:        
              - name: mysql-persistent-storage
                mountPath: /var/lib/mysql 
           volumes:
             - name: mysql-persistent-storage 
               persistentVolumeClaim:
                claimName: mysql-pv-claim
        
        
        
        
        
        
        
        
